[Desktop Entry]
Type=Application
Icon=/vagrant/mojo-loader-1.2.2/icon.png
Name=Mojo Loader
Comment=Mojo Loader
Categories=Development
Exec=/vagrant/mojo-loader-1.2.2/mojo-loader
StartupNotify=true
Terminal=false